body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}
/* 
.content {
    max-width: 960px;
    margin: auto;
} */
.main {
    background-color: #1F2937;
    color: white;
}

.header {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 960px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.navi {
    display: flex;
    gap: 20px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.slider-section {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 30px;
}

.slider-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.slider-image {
    width: 480px;
    height: 280px;
    background-color: grey;
}

.slider-button {
    background-color: #3882F6;
    color: white;
    border-radius: 4px;
    border-style: none;
    font-weight: bold;
    padding: 5px 20px;
}

.info {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.info h1 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    padding: 20px 0px;
}

.boxes {
    display: flex;
    gap: 60px;
    justify-content: center;
    text-align: center;
}

.box {
    width: 160px;
}

.box-image {
    box-sizing: border-box;
    width: 160px;
    height: 160px;
    border: 4px solid #3882F6;
    border-radius: 15px;
}